$colorLinkList: black;
$colorHoverList: rgba(54, 0, 250, 0.918);
$letraLinkList: 'Raleway', sans-serif;
$letraList: Verdana, Geneva, Tahoma, sans-serif;
$fondocolor: #E4F3ED;
$fondobody: url(../img/beige-tiles.png);

$listaAside: true;