$colorLinkList: black;
$colorHoverList: rgba(54, 0, 250, 0.918);
$letraLinkList: 'Raleway', sans-serif;
$letraList: Verdana, Geneva, Tahoma, sans-serif;
$fondocolor: #E4F3ED;

$fondobody: url(../img/beige-tiles.png);
$fondoFooter: url(../img/gray-lines.jpg);
$fondoFooterCopyR: url(../img/gray-arrows.jpg);
$fondeContactForm: url(../img/granola.png);



